.navbar-brand{
    font-size: 50px;
    font-weight: bold;
    color: black;
}
.lien a{
    color: black;
   font-size:30px ;
   margin-right: 50px;
}
.lien a:hover{
    color: #c3c7cb!important; 
}
.contenu{
    height: 700px;
    width: 60vw;
    background-image: url('../Images/photo15.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}
.contenu h1{
    color: #fff;
    font-size: 130px;
    text-align: center;
    padding-top: 130px;
}